In [4]:
# function
'''a = 10
b = 30
add = print(a + b)
sub = print(a - b)
mult = print(a * b)'''

def calculate(a, b):
  result1 = print("the sum of numbers are",(a + b))
  result2 = print("the subtraction of numbers are",(a - b))
  result3 = print("the multiplication of numbers are", (a * b))

calculate(200, 150)

the sum of numbers are 350
the subtraction of numbers are 50
the multiplication of numbers are 30000

In [5]:
calculate(400, 345)

the sum of numbers are 745
the subtraction of numbers are 55
the multiplication of numbers are 138000

In [8]:
def cal(a, b):
  sum = a + b
  return sum

cal(199,34)

233

In [10]:
def cal(a, b):
  sum = a + b
  sub = a - b
  return sum, sub

cal(199,34)

(233, 165)

In [12]:
def cal(a, b):
  sum = a + b
  sub = a - b
  return sum, sub

sum, sub = cal(199,34)
print("the sum is", sum)
print("the sub is", sub)

the sum is 233
the sub is 165

In [13]:
# positional arguments
def addition(a, b):
  print(a + b)

addition(10, 45)

55

In [14]:
# keword arguments
def addition(a, b):
  print(a + b)

addition( b = 10, a = 45)
# note positional arguments follows keywords arguments

55

In [21]:
# Defult arguments
def addition(a = 23, b = 25):
  print(a + b)

addition(a = 100, b = 20)

120

In [23]:
# Defult arguments
def addition(a, b = 25):
  print(a + b)

addition(a = 100, b = 20)
# when writing defult argument first value can be empty , but last should not

120

In [27]:
# variable length argument

def sums(*n):
  print(type(n))
  print(n)
sums(29,78,89)

<class 'tuple'>
(29, 78, 89)

In [29]:
# variable length argument

def sums(*n):
  total = 0
  for x in n:
    total = total + x
  print("the sum of value is ", total)

sums()
sums(23, 12)
sums(29,78,89)

the sum of value is  0
the sum of value is  35
the sum of value is  196

In [40]:
def jod(*n):
  total = 0
  for x in n:
    total = total + x
  print("the jod of value is ", total)

jod()
jod(34,56,56)
jod(1,2,3)

the jod of value is  0
the jod of value is  146
the jod of value is  6

In [1]:
# *args and **kwargs
def f1(*args):
  print(args)
  print(type(args))

f1()
f1(10, 2, 20, 40, 50)

()
<class 'tuple'>
(10, 2, 20, 40, 50)
<class 'tuple'>

In [6]:
def f2(**kwargs):
  print(kwargs)
  print(type(kwargs))

f2()
f2(a = 10, b = 2, c = 20, d = 40, e = 50)

{}
<class 'dict'>
{'a': 10, 'b': 2, 'c': 20, 'd': 40, 'e': 50}
<class 'dict'>

In [7]:
def f2(*args, **kwargs):
  print(args)
  print(type(args))
  print(kwargs)
  print(type(kwargs))

f2()
f2(a = 10, b = 2, c = 20, d = 40, e = 50)

()
<class 'tuple'>
{}
<class 'dict'>
()
<class 'tuple'>
{'a': 10, 'b': 2, 'c': 20, 'd': 40, 'e': 50}
<class 'dict'>

In [11]:
a = 20 # this is global variable
def f1(a):
  print(a)

f1(a)
f1(12)

20
12

In [12]:
# lamda function
s = lambda n: n * n
print(s(4))

16

In [13]:
s = lambda n: n + n
print(s(4))

8

In [15]:
s = lambda n, m: n * n
print(s(4, 5))

16

In [16]:
bigger = lambda a, b: a if a > b else b
print(bigger(5, 8))

8

In [18]:
# filter

lst = [1, 2, 4, 6, 8, 9, 10, 11, 12, 13, 14]

def iseven(n):
  if n % 2 ==0:
    return True
  else:
    return False
lst2 = []
for n in lst:
  if iseven(n) == True:
    lst2.append(n)
print(lst2)

[2, 4, 6, 8, 10, 12, 14]

In [22]:
# filter

lst = [1, 2, 4, 6, 8, 9, 10, 11, 12, 13, 14]

def iseven(n):
  if n % 2 ==0:
    return True
  else:
    return False
s = filter(iseven, lst)
print(s)

<filter object at 0x7b1b7aa1b2e0>

In [23]:
# filter

lst = [1, 2, 4, 6, 8, 9, 10, 11, 12, 13, 14]

def iseven(n):
  if n % 2 ==0:
    return True
  else:
    return False
s = list(filter(iseven, lst)) #now type casting the filter into list to see the results
print(s)

[2, 4, 6, 8, 10, 12, 14]

In [24]:
lst = [1, 2, 4, 6, 8, 9, 10, 11, 12, 13, 14]
s = list(filter(lambda n: n % 2 == 0, lst))
print(s)

[2, 4, 6, 8, 10, 12, 14]

In [25]:
# map
lst = [1, 2, 4, 6, 8, 9, 10, 11, 12, 13, 14]
def sqr(n):
  return n * n
lst2 = map(sqr, lst)
print(lst2)

<map object at 0x7b1b7aab9e70>

In [27]:
# map
# map(function, iterable, ...) sysntax

lst = [1, 2, 4, 6, 8, 9, 10, 11, 12, 13, 14]
def sqr(n):
  return n * n
lst2 = list(map(sqr, lst))
print(lst2)

# The map() function returns an iterator containing the results of applying the function to each item in the iterable. To get the results as a list or other data structures, you can convert the iterator to the desired type, like this
# result_list = list(map(function, iterable))

[1, 4, 16, 36, 64, 81, 100, 121, 144, 169, 196]

In [28]:
# map with lambda
lst = [1, 2, 4, 6, 8]
lst2 = list(map(lambda n: n * n, lst))
print(lst2)

[1, 4, 16, 36, 64]

In [30]:
# map with lambda
lst1 = [1, 2, 4, 6, 8]
lst2 = [1, 4, 5, 6, 7]
lst3 = list(map(lambda n, m: n ** n, lst1, lst2))
print(lst3)

[1, 4, 256, 46656, 16777216]

In [31]:
# reducer

from functools import reduce
lst1 = [1, 2, 4, 6, 8]
result = reduce(lambda x, y: x + y, lst1)
print(result)

21

In [32]:
from functools import reduce
# first 100 number sum
result = reduce(lambda x, y: x + y, range(0, 100))
print(result)

4950